<article>
  <div class="home-img img-flui">
    <%= image_tag 'Home.jpg' %>
      <p class="text-center home-font">テストコメントテストコメントテストコメントテストコメントテストコメントテストコメント</p>
  </div>
</article>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <%= image_tag 'chat.png', {class: "card-img-top, image-homes", alt: "..."} %>
      <div class="card-body">
        <h5 class="card-title">管理者機能</h5>
        <p class="card-text">一括で尚且つシンプルなUIでユーザーを管理できる管理機能。 各フォローユーザーの投稿を削除、更新が可能です。</p>
        <p>※申し訳ございません、こちらの機能は現状未実装となっております</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <%= image_tag 'create.png', {class: "card-img-top, image-homes", alt: "..."} %>
      <div class="card-body">
        <h5 class="card-title">口コミ</h5>
        <p class="card-text">観劇した舞台、これから観たい舞台の口コミ、意見の投稿が可能です。 また投稿したユーザーにのみ編集・削除が可能です。</p>
          <p>他にも投稿一覧やGoogleMapを用いた様々な機能が実装されています。</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <%= image_tag 'comyu.png', {class: "card-img-top, image-homes", alt: "..."} %>
      <div class="card-body">
        <h5 class="card-title">コミュニケーション</h5>
        <p class="card-text">登録ユーザー同士でダイレクトメールと口コミに対してのコメントを送ることができます。</p>
      </div>
    </div>
  </div>
</div>

<div class="card text-center guest">
  <div class="card-header　colour">
    さっそくはじめよう
  </div>
  <div class="card-body">
    <h5 class="card-title">採用担当者 様</h5>
    <p class="card-text">この度は大変お忙しい中、当ポートフォリオまで足を運んでいただき誠にありがとうございます。
      お目通しいただくにあたり、下記のゲストログイン機能をご利用いただければ登録なしで全ての機能をご利用いただけます。</p>
    <div>
      <%= link_to "アカウント作成", new_user_registration_path, class: "button" %>
      <%= link_to "ログイン", new_user_session_path, class: "button" %>
      <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "button", method: :post %>
    </div>
  </div>
</div>