<h1>登録ユーザー一覧</h1>

<!--bootstrapの挙動はおかしいが一旦クラスを付与-->
<%= form_tag(users_path, :method => 'get', class: "form-control" ) do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<% @users.each do |user| %>
  <p><%= link_to user.name,user_path(user.id) %></p>
    <p>id：<%= user.id %></p>
<% end %>
<%= paginate @users %>