<h1>登録ユーザー一覧</h1>

<!--bootstrapの挙動はおかしいが一旦クラスを付与-->
<%= form_tag(users_path, :method => 'get', class: "form-control" ) do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<% @users.each do |user| %>
<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title"><%= link_to user.name,user_path(user.id) %></h5>
    <p class="card-text"><%= user.id %></p>
<<<<<<< HEAD
    <a href="#" class="btn btn-primary">ユーザープロフィールへ(link_toでデザインが崩れるため、まだ遷移しない)</a>
=======
    <a href="#" class="btn btn-primary">ユーザープロフィールへ(まだ遷移しないようにしている)</a>
>>>>>>> c71f40f51f98585768cea880e1529c6687e34e3a
  </div>
</div>
<% end %>
<%= paginate @users %>
