<h1>プロフィール詳細</h1>
<div class="card mb-3">
  <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
  <div class="card-body">
    <h5 class="card-title"><%= @user.name %></h5>
    <p class="card-text"><%= @user.profile %></p>
    <p class="card-text"><small class="text-muted">プロフィール更新日：<%= @user.updated_at %></small></p>
  </div>
</div>

<div class="follower">
  <%= link_to followers_user_path(@user.id) do %>
    <p id="follower_count">フォロワー<%= @user.followers.count %>人</p>
  <% end %>
</div>
<div class="follow">
  <%= link_to following_user_path(@user.id) do %>
    <p id="following_count">フォロー<%= @user.following.count %>人</p>
  <% end %>
</div>
<div>
  <%= render "follow_form" %>
</div>

<% if current_user.id == @user.id %>
  <%= link_to "ユーザー情報を編集する", edit_user_registration_path %>
<% end %>

<!--ダイレクトメッセージ機能-->
<!--ログインユーザーでなければ、true-->
<% unless @user.id == current_user.id %>
  <!--お互いにフォローされていれば、true-->
  <% if (current_user.following? @user) && (@user.following? current_user) %>
    <% if @isRoom == true %>
      <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
    <% else %>
      <!--一旦、form_forで実装するが、後程form_withで実装する-->
      <%= form_for @room do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, value: @user.id %>
        <% end %>
        <%= f.submit "チャットを始める", class: "btn btn-primary btn-lg user-show-chat" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>