<!--suppress ALL -->

<!--タイトル-->
<div class="post__title">
  <div class="balloon">ユーザー詳細ページ</div>
  <!--  <h1 class="post__title__font">口コミ一覧(ホーム）</h1>-->
  <p class="post_title_guide">
    このページでは、自分及び登録ユーザーのプロフィールを閲覧できます。<br>
    また、フォロワー同士であればダイレクトメッセージを送ることができます。
  </p>
</div>

<div class="profile-senter">
<div class="profile-card">
  <div class="right-container">
    <div class="right-container__profile">
      <% if current_user.image? %>
        <p><%= image_tag current_user.image.to_s, class: 'avatar' %></p>
      <% else %>
        <%= image_tag 'default.jpg', class: 'avatar' %>
      <% end %>
      <span class="right-container__profile__name"><%= @user.name %></span>
      <span class="right-container__profile__follow">
        <%= link_to followers_user_path(@user.id) do %>
    フォロワー<%= @user.followers.count %>人
  <% end %>
        <%= link_to following_user_path(@user.id) do %>
    フォロー<%= @user.following.count %>人
  <% end %>
    </span>

      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-body text-dark">
          <p class="card-text"><%= current_user.profile %></p>
        </div>
      </div>

      <% if current_user.id == @user.id %>
        <%= link_to "プロフィール編集", edit_user_registration_path, class: "post__menu__list__button right-container__profile__button" %>
      <% end %>
    </div>
  </div>
</div>
</div>


  <!--ダイレクトメッセージ機能-->
<!--ログインユーザーでなければ、true-->
<% unless @user.id == current_user.id %>
  <!--お互いにフォローされていれば、true-->
  <% if (current_user.following? @user) && (@user.following? current_user) %>
    <% if @isRoom == true %>
      <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
    <% else %>
      <!--一旦、form_forで実装するが、後程form_withで実装する-->
      <%= form_for @room do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, value: @user.id %>
        <% end %>
        <%= f.submit "チャットを始める", class: "btn btn-primary btn-lg user-show-chat" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<!--ダイレクトメッセージ機能ここまで-->