<div class="container">
  <h1>投稿編集ページ</h1>
</div>

<%= form_with model: @post do |f| %>
  <p><%= f.label :title %></p>
  <p><%= f.text_field :title %></p>
  <p><%= f.label :content %></p>
  <p><%= f.text_area :content %></p>
  <p><%= f.label :image %></p>
  <p><%= f.file_field :image %></p>
  <%= f.submit "投稿内容を編集する"%>
<% end %>

<% if @post.user_id == current_user.id %>
  <%= link_to "削除する", post_path(@post.id), method: :delete %>
<% end %>