<<<<<<< HEAD
<div class="container">
  <h1>投稿編集ページ</h1>
</div>

<%= form_with model: @post do |f| %>
  <p><%= f.label :title %></p>
  <p><%= f.text_field :title %></p>
  <p><%= f.label :content %></p>
  <p><%= f.text_area :content %></p>
  <p><%= f.label :image %></p>
  <p><%= f.file_field :image %></p>
  <!--星評価機能フォーム-->
  <div class="form-group row" id="star">
    <%= f.label :rate, '評価', class: "col-md-3 col-form-label" %>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>

  <!--星星評価機能Javascript読み込み-->
  <script>
      $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'post[rate]',
          half: true,
      });
  </script>
  <%= f.submit "投稿内容を編集する"%>
<% end %>

<% if @post.user_id == current_user.id %>
  <%= link_to "削除する", post_path(@post.id), method: :delete %>
<% end %>
=======
<h1>Posts#edit</h1>
<p>Find me in app/views/posts/edit.html.erb</p>
<!--投稿編集機能-->
>>>>>>> c4a926c898ddf6ef0d468de5a3590140576f9fa6
