<!--suppress ALL -->
<h1>口コミ一覧</h1>
<p>検索</p>

<!--キーワード絞り込み機能フォーム-->
<%= form_tag(posts_path, :method => 'get', class: "form-control") do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>
<!--キーワード絞り込み機能フォームここまで-->

<% @posts.each do |post| %>
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image">
          <title>Placeholder</title>
          <rect fill="#868e96" width="100%" height="100%"/>
          <text fill="#dee2e6" dy=".3em" x="50%" y="50%"><%= post.image %></text>
        </svg>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= link_to(post.title, "posts/#{post.id}") %></h5>
          <p class="card-text"><%= post.content %></p>
          <p class="card-text"><small class="text-muted"><%= post.created_at %></small></p>
        </div>
      </div>
      <!--タグ表示-->
      <% post.tag_list.each do |tag| %>
        <%= link_to tag, posts_path(tag_name: tag) %>
      <% end %>
      <!--タグ表示ここまで-->
    </div>

    <!--星評価機能表示-->
    <div id="star-rate-<%= post.id %>"></div>
    <script>
        $('#star-rate-<%= post.id %>').raty({
            size: 36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn: '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= post.rate %>,
        });
    </script>
  </div>
  <!--星評価機能表示ここまで-->

<% end %>

<!--kaminari ページネーション機能-->
<%= paginate @posts %>