<!--suppress ALL -->

<div class="post__title">
  <div class="balloon">口コミ一覧(ホーム)</div>
  <!--  <h1 class="post__title__font">口コミ一覧(ホーム）</h1>-->
  <p class="post_title_guide">
    このページでは、他のユーザーの口コミをみることができます。<br>
    気になった口コミ投稿があればイイネを押してお気に入りに登録も可能です。
  </p>
</div>
<menu class="post__menu">
  <ul class="post__menu__list">
    <li class="post__menu__list__li li-active">口コミ一覧</li>
    <li class="post__menu__list__li">おすすめランキング</li>
    <li class="post__menu__list__li">お気に入り</li>
    <li class="post__menu__list__li">地図で口コミを探す</li>
    <li class="post__menu__list__button">新規投稿</li>
  </ul>
  <!--キーワード絞り込み機能フォーム-->
  <div class="post__form">
    <figure class="post__form__search-border"></figure>
    <%= form_tag(posts_path, :method => 'get', class: "active-cyan-4", style: "display: flex") do %>
      <%= text_field_tag(:search, '', class: "form-control w-100", placeholder: "口コミを検索...") %>
      <%= button_tag '<i class="fa fa-search"></i>'.html_safe, :type => "submit", :class => "btn btn-default btn-s-md post__form__search-button" %>
    <% end %>
  </div>
  <!--キーワード絞り込み機能フォームここまで-->
</menu>

<!--実際にはここで @posts.eachをする-->
<% 5.times do |index| %>
  <article class="article">
    <!--XDの画像サイズが小さすぎるので、あえて背景色を設定している。大きなサイズを添付すると object-fit: coverでリサイズされるはず-->
    <%= image_tag 'sample-images/sample-thumbnail.png', :class => 'article-container__thumbnail', :alt => 'Thumbnail' %>
    <div class="article-container__main">
      <p>TYPE OF PAGE</p>
      <h4>美女と野獣</h4>
      <text>ディズニー大定番の作品！ 主演の男性役者のセリフはすんなりと心に落ちていき、話し方や滑舌がうまく表現できており観ていて気分が良かった。 2020/07/07 22:08 タグ：[劇団四季] [ディズニー]</text>
      <figure class="article-container__main__buttons">
        <!-- @todo 星をいくつ出すかのロジックは検討する必要がありそう-->
        <%= image_tag 'sample-images/sample-star-rating.png', :alt => 'star-rating' %>
        <%= image_tag 'sample-images/sample-heart.png', :alt => 'heart' %>
      </figure>
    </div>
    <figure class="ranking">
      <p><%= index + 1 %>位</p>
    </figure>
  </article>
<% end %>

<% @posts.each do |post| %>
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image">
          <title>Placeholder</title>
          <rect fill="#868e96" width="100%" height="100%"/>
          <text fill="#dee2e6" dy=".3em" x="50%" y="50%"><%= post.image %></text>
        </svg>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= link_to(post.title, "posts/#{post.id}") %></h5>
          <p class="card-text"><%= post.content %></p>
          <p class="card-text"><small class="text-muted"><%= post.created_at %></small></p>
        </div>
      </div>
      <!--タグ表示-->
      <% post.tag_list.each do |tag| %>
        <%= link_to tag, posts_path(tag_name: tag) %>
      <% end %>
      <!--タグ表示ここまで-->
    </div>

    <!--星評価機能表示-->
    <div id="star-rate-<%= post.id %>"></div>
    <script>
        $('#star-rate-<%= post.id %>').raty({
            size: 36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn: '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= post.rate %>,
        });
    </script>
  </div>
  <!--星評価機能表示ここまで-->

<% end %>

<!--kaminari ページネーション機能-->
<%= paginate @posts %>