<!--suppress ALL -->

<div class="post__title">
  <div class="balloon">口コミ一覧(ホーム)</div>
  <!--  <h1 class="post__title__font">口コミ一覧(ホーム）</h1>-->
  <p class="post_title_guide">
    このページでは、他のユーザーの口コミをみることができます。<br>
    気になった口コミ投稿があればイイネを押してお気に入りに登録も可能です。
  </p>
</div>
<menu class="post__menu">
  <ul class="post__menu__list">
    <li class="post__menu__list__li li-active">口コミ一覧</li>
    <li class="post__menu__list__li">おすすめランキング</li>
    <li class="post__menu__list__li">お気に入り</li>
    <li class="post__menu__list__li">地図で口コミを探す</li>
    <li class="post__menu__list__button">新規投稿</li>
  </ul>
  <!--キーワード絞り込み機能フォーム-->
  <div class="post__form">
    <figure class="post__form__search-border"></figure>
    <%= form_tag(posts_path, :method => 'get', class: "active-cyan-4", style: "display: flex") do %>
      <%= text_field_tag(:search, '', class: "form-control w-100", placeholder: "キーワードで口コミを検索...") %>
      <%= button_tag '<i class="fa fa-search"></i>'.html_safe, :type => "submit", :class => "btn btn-default btn-s-md post__form__search-button" %>
    <% end %>
  </div>
  <!--キーワード絞り込み機能フォームここまで-->
</menu>

<div class="container-wrapper">
  <div class="left-container">
    <!--実際にはここで @posts.eachをする-->
    <% 5.times do |index| %>
      <article class="article">
        <!--XDの画像サイズが小さすぎるので、あえて背景色を設定している。大きなサイズを添付すると object-fit: coverでリサイズされるはず-->
        <%= image_tag 'sample-images/sample-thumbnail.png', :class => 'article-container__thumbnail', :alt => 'Thumbnail' %>
        <div class="article-container__main">
          <p>TYPE OF PAGE</p>
          <h4>美女と野獣</h4>
          <text>ディズニー大定番の作品！ 主演の男性役者のセリフはすんなりと心に落ちていき、話し方や滑舌がうまく表現できており観ていて気分が良かった。 2020/07/07 22:08 タグ：[劇団四季] [ディズニー]
          </text>
          <figure class="article-container__main__buttons">
            <!-- @todo 星をいくつ出すかのロジックは検討する必要がありそう-->
            <%= image_tag 'sample-images/sample-star-rating.png', :alt => 'star-rating' %>
            <%= image_tag 'sample-images/sample-heart.png', :alt => 'heart' %>
          </figure>
        </div>
        <figure class="ranking">
          <p><%= index + 1 %>位</p>
        </figure>
      </article>
    <% end %>

    <!--ページネーション-->
    <!--    @todo Gotoの部分を付けていないので必要に応じて追加する-->
    <div class="pagenation">
      <nav aria-label="Page navigation example">
        <ul class="pagination pagination-lg">
          <li class="page-item">
            <a class="page-link active" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link active" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item"><a class="page-link" href="#">6</a></li>
          <li class="page-item"><a class="page-link" href="#">7</a></li>
          <li class="page-item"><a class="page-link" href="#">8</a></li>
          <li class="page-item">
            <a class="page-link active" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="right-container">
    <div class="right-container__profile">
      <%= image_tag 'sample-images/sample-noimage.png', :class => 'avatar', :alt => 'Avatar' %>
      <span class="right-container__profile__name">Ryo-i</span>
      <span class="right-container__profile__follow">フォロワー 100人</span>
      <button type="button" class="post__menu__list__button right-container__profile__button">新規投稿</button>
    </div>
    <span class="tag-container__title">タグから探す</span>
    <div class="tag-container">
      <div class="tag-container__tags">
        <p class="tag-container__tag">web</p>
        <p class="tag-container__tag">illustration</p>
        <p class="tag-container__tag">ui</p>
        <p class="tag-container__tag">graphics</p>
        <p class="tag-container__tag">web</p>
        <p class="tag-container__tag">design</p>
        <p class="tag-container__tag">app</p>
        <p class="tag-container__tag">iphone</p>
        <p class="tag-container__tag">interface</p>
      </div>
      <div class="tag-container__tags">
        <p class="tag-container__tag">web</p>
        <p class="tag-container__tag">illustration</p>
        <p class="tag-container__tag">ui</p>
        <p class="tag-container__tag">graphics</p>
        <p class="tag-container__tag">web</p>
        <p class="tag-container__tag">design</p>
        <p class="tag-container__tag">app</p>
        <p class="tag-container__tag">iphone</p>
        <p class="tag-container__tag">interface</p>
      </div>
      <button type="button" class="post__menu__list__button">もっと表示</button>
      <!--この下の画像はXDで切り出して挿入してください-->
    </div>
    <div class="vulnerability-diagnosis">
      <span class="vulnerability-diagnosis__title">脆弱性診断自動化について</span>
      <p class="vulnerability-diagnosis__text">本ポートフォリオを実装した脆弱性診断の自動化についての詳細をおまとめいたしました。</p>
      <button type="button" class="post__menu__list__button">専用ページへ</button>
    </div>
  </div>
</div>
