<h1>Posts#index</h1>
<h2>口コミ一覧</h2>
<p>Find me in app/views/posts/index.html.erb</p>
<% @post.each do |post| %>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image">
          <title>Placeholder</title>
          <rect fill="#868e96" width="100%" height="100%"/>
          <text fill="#dee2e6" dy=".3em" x="50%" y="50%"><%= post.image %></text>
        </svg>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= link_to(post.title, "posts/#{post.id}") %></h5>
          <p class="card-text"><%= post.content %></p>
          <p class="card-text"><small class="text-muted"><%= post.created_at %></small></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= paginate @post %>