<h1>口コミを投稿</h1>

<%= form_with model: @post, local: true do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "form-control", id: "formGroupExampleInput", placeholder: "演目名やタイトル" %>

  <%= f.label :content %>
  <%= f.text_area :content, autofocus: true, autocomplete: "content", class: "form-control", id: "exampleFormControlTextarea1", rows: "3", placeholder: "観劇いただいた、また観劇予定の演目の感想及び期待" %>

  <%= f.label :post, :tag_list %>
  <%= f.text_field :tag_list, value: @post.tag_list.join(','), autofocus: true, autocomplete: "tag_list", class: "form-control", id: "formGroupExampleInput", placeholder: "劇団四季,アラジン" %>

  <div class="spot">
    <input onclick="codeAddress()" type="button" value="検索する">
    <div id="map" style="width:640px; height:320px"></div>
  </div>

  <!--星評価機能フォーム-->
  <div class="form-group row" id="star">
    <%= f.label :rate, '評価', class: "col-md-3 col-form-label" %>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>

  <!--星星評価機能Javascript読み込み-->
  <script>
      $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'post[rate]',
          half: true,
      });
  </script>

  <div class="post-new-btn">
    <%= f.submit "新規投稿", class: "btn btn-primary" %>
  </div>
<% end %>