<h1>Posts#new</h1>
<h2>口コミを投稿</h2>
<p>Find me in app/views/posts/new.html.erb</p>

<!--下記はまだテスト-->

<%= form_with model: @post, local: true do |form| %>
  <p><%= form.label :title %></p>
  <p><%= form.text_field :title %></p>
  <p><%= form.label :content %></p>
  <p><%= form.text_area :content %></p>
  <div class="field">
    <%= form.label :image %><br/>
    <%= form.file_field :image %>
  </div>
  <%= form.submit "新規投稿"%>
<% end %>