<h1>口コミを投稿</h1>

<%= form_with model: @post, local: true do |f| %>
  <p><%= f.label :title %></p>
  <p><%= f.text_field :title, class: "f-control f-control-lg" %></p>
  <p><%= f.label :content %></p>
  <p><%= f.text_area :content, class: "f-control" %></p>
  <div class="field">
    <%= f.label :image %><br/>
    <%= f.file_field :image, class: "btn btn-secondary" %>
  </div>

  <!--星評価機能フォーム-->
  <div class="form-group row" id="star">
    <%= f.label :rate, '評価', class: "col-md-3 col-form-label" %>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>

  <!--星星評価機能Javascript読み込み-->
  <script>
      $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'post[rate]',
          half: true,
      });
  </script>

  <div class="submit-btn">
    <%= f.submit "新規投稿", class: "btn btn-secondary" %>
  </div>
<% end %>