<h1>口コミ詳細</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<!--プロフィール画像が設定していなければ表示しない-->
<% if @post.image? %>
  <div class="card mb-3">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
      <title>Placeholder</title>
      <rect fill="#868e96" width="100%" height="100%"/>
      <text fill="#dee2e6" dy=".3em" x="50%" y="50%"><%= @post.image %></text>
    </svg>
<% else %>
  <div class="card-body">
    <h5 class="card-title"><%= @post.title %></h5>
    <p class="card-text">T<%= @post.content %></p>
    <p class="card-text"><small class="text-muted"><%= @post.created_at %></small></p>
    <!--星評価機能表示-->
    <div id="star-rate-<%= @post.id %>"></div>
    <script>
        $('#star-rate-<%= @post.id %>').raty({
            size: 36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn: '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @post.rate %>,
        });
    </script>
    <!--星評価機能表示ここまで-->
    <p class="card-text"><small class="text-muted">お気に入り件数：<%= @post.favorites.count %></small></p>
    <div id="favorites_buttons_<%= @post.id %>">
      <%= render partial: 'favorites/favorite', locals: {post: @post} %>
    </div>
  </div>
  </div>
<% end %>

<% if @post.user_id == current_user.id %>
  <%= link_to "投稿を編集する", edit_post_path(@post.id) %>
  <%= link_to "削除する", post_path(@post.id), method: :delete %>
<% end %>

  <div class="row">
    <ul style= "padding-left: 50px">
      <li class="comment-create">
        <h3 class="text-left title">レビュー</h3>
      </li>
      <li id="comments_area">
        <%= render partial: 'comments/index', locals: {comments: @comments} %>
      </li>
    </ul>
    <hr>
    <% if user_signed_in? %>
      <div class="comment-create">
        <h3 class="text-left">レビューを投稿する</h3>
        <%= render partial: 'comments/form', locals: {comment: @comment, post: @post} %>
      </div>
    <% end %>
  </div>