<h1>口コミ詳細</h1>

<div class="show__card">
  <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header"><%= @post.title %></div>
    <div class="card-body">
      <h5 class="card-title"><%= @post.created_at %></h5>
      <p class="card-text"><%= @post.content %></p>
    </div>
  </div>
</div>

    <!--星評価機能表示-->
    <div id="star-rate-<%= @post.id %>"></div>
    <script>
        $('#star-rate-<%= @post.id %>').raty({
            size: 36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn: '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @post.rate %>,
        });
    </script>
    <!--星評価機能表示ここまで-->


    <p class="card-text"><small class="text-muted">お気に入り件数：<%= @post.favorites.count %></small></p>
    <div id="favorites_buttons_<%= @post.id %>">
      <%= render partial: 'favorites/favorite', locals: {post: @post} %>
    </div>

<!--投稿に紐づいたユーザーとログインユーザーが同一であれば、True-->
<% if @post.user_id == current_user.id %>
  <%= link_to "投稿を編集する", edit_post_path(@post.id) %>
  <%= link_to "削除する", post_path(@post.id), method: :delete %>
<% end %>

  <div class="row">
    <ul style= "padding-left: 50px">
      <li class="comment-create">
        <h3 class="text-left title">レビュー</h3>
      </li>
      <li id="comments_area">
        <%= render partial: 'comments/index', locals: {comments: @comments} %>
      </li>
    </ul>
    <hr>
    <% if user_signed_in? %>
      <div class="comment-create">
        <h3 class="text-left">レビューを投稿する</h3>
        <%= render partial: 'comments/form', locals: {comment: @comment, post: @post} %>
      </div>
    <% end %>
  </div>

<div class="show">
  <div class="show__address">
    <% @post.spot.address %>
  </div>
  <div class="show__maps" id="show_map" style="height: 320px; width: 400px;"></div>
</div>


