<!DOCTYPE html>
<html>
<head>
  <title>Dazzling</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<header>
  <% if user_signed_in? %>
    <nav class="navbar navbar-light bg-light">
      <%= link_to "ログアウト", destroy_user_session_path, class: "button", method: :delete %>
      <%= link_to "口コミ一覧", posts_path, class: "button" %>
      <%= link_to "新規投稿", new_post_path, class: "button" %>
      <%= link_to "プロフィール編集", edit_user_registration_path, class: "button" %>
      <%= link_to "ユーザー詳細ページ", show_user_registration_path(current_user), class: "button" %>
      <%= link_to "登録ユーザー一覧", users_path, class: "button" %>
      user_signed_in?は<%= user_signed_in? %>となっている
      <div class="home-image">
        <% if current_user.image? %>
          <p><%= image_tag current_user.image.to_s %></p>
        <% end %>
      </div>
  <% else %>
    <%= link_to "dazzling", new_user_registration_path, class: "button" %>
    <%= link_to "アカウント作成", new_user_registration_path, class: "button" %>
    <%= link_to "ログイン", new_user_session_path, class: "button" %>
    <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "button", method: :post %>
    user_signed_in?は<%= user_signed_in? %>となっている
<% end %>
  </nav>
</header>

<%= yield %>
　<p class="notice"><%= notice %></p>

<footer class="navbar navbar-light bg-light">
  <p>dazzling</p>
</footer>

<!--アイコンCDN-->
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</body>
</html>
