<!DOCTYPE html>
<html>
<head>
  <title>Dazzling</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "アカウント作成", new_user_registration_path %>
    <%= link_to "ログイン", new_user_session_path %>
    <!--ゲストログインについてはまだ仮 -->
    <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post %>
  <% end %>
</header>


<%= yield %>
　<p class="notice"><%= notice %></p>
</body>
</html>
